.body-style {
  background-color: rgb(253, 251, 251);
}

/*#navegacao {
  color: aliceblue;
  position: top;
} */

#cabecalho {
  position:fixed;
  top: 0px;
  padding: 15px;
  background-color: darkgreen;
  color: aliceblue;

}

#titulo {
  margin: 10px;
}

#minha_foto {
  margin-top: 100px;
  width: 150px;
}

#licoes_aprendidas {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#licoes_a_aprender {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rodape {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  background-color: aquamarine;
}

.formatacao {
  font-family: Arial, Helvetica, sans-serif;
}
