

.body-style {
  background-color: rgb(253, 251, 251);
}

/*#navegacao {
  color: aliceblue;
  position: top;
} */

#cabecalho {
  position:static;
  top: 0px;
  border-right: 0px;
  background-color: darkgreen;
  color: aliceblue;
}

#titulo {
  margin-top: 0px;
}

#minha_foto {
  margin-top: 0px;
  width: 150px;
}

#licoes_aprendidas {

}
