.body-style {
  background-color: rgb(253, 251, 251);
}

div {
  display: inline-block;
  width: 700px;
}

#cabecalho {
  position:fixed;
  width: 100%;
  top: 0px;
  padding: 5px;
  background-color: darkgreen;
  color: aliceblue;

}

#titulo {
  text-align: center;
  font-size:x-large;
  margin: 5px;
  line-height: 2;
}

#minha_foto {
  margin-top: 100px;
  width: 150px;
  border: 3px solid green;
}

#licoes_aprendidas {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#licoes_a_aprender {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rodape {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  background-color: aquamarine;
}

.formatacao {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

#div_titulo {
  width: auto;
  border: 5px solid green;
}


